.app {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-height: 100vh;
  background: linear-gradient(
    135deg,
    var(--background-primary),
    var(--background-secondary)
  );
  padding: 1rem;
  justify-content: center;
  align-items: center;
}
