.weights {
  margin: 2rem auto;
  max-width: 40rem;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.item {
  text-decoration: none;
  color: inherit;
  display: flex;
  background-color: var(--color-gray-800);
  border-radius: 4px;
  overflow: hidden;
}

.content {
  padding: 1rem;
}
