.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form label,
.form input {
  width: 15rem;
}

.form input {
  font: inherit;
  padding: 0.5rem;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
}

.form button {
  margin-bottom: 0.5rem;
}
